.box {
    display: flex;
    flex-direction: row;
    padding: 20px 16px;

    width: 100%;
    height: 52px;

    background: #FFFFFF;
    border: 1px solid #D9D9D9;
}

.err {
    border: 1px solid red;
}

.box:focus {
    border: 1px solid #2F2F33;
}

.box::placeholder {
    color: #D9D9D9;
}
