.box {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.icon {
    visibility: hidden;
}

.box_hover .icon {
    visibility: visible;
}